<h1>Sherwood Wildlife</h1>
<p>Welcome to the Sherwood Forest Service. Here you can find the list of animals that live in the Forest.</p>

<div style="float:left; width:50%;">
  <h2>Animals</h2>
  <%= render "animals/list", animals: @animals %>
</div>
<div style="float:left; width:50%;">
  <h2>Regions</h2>
  <%= render "regions/list", regions: @regions %>
</div>
